.container {
    margin: 30px auto;
    text-align: center;
}

.map {
    width: 85vw;
    height: 60vh;
}

hr {
    margin: 30px 0;
}

select {
    font-size: 20px;
    padding: 3px;
    border: none;
    background: #0e0e0e;
    color: white;
    text-decoration: underline grey solid 2px;
    outline: none;
}

pre {
    overflow: auto;
    margin-bottom: 30px;
}

table {
    width: 85vw;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid grey;
    text-align: left;
    vertical-align: middle;
    padding: 10px;
    font-size: 15px;
}

td > a {
    background: linear-gradient(135deg,
    #405DE6 14%,
    #5B51D8 28%,
    #833AB4 42%,
    #C13584 58%,
    #E1306C 72%,
    #FD1D1D 86%,
    #F56040 100%,
    );
    background-size: 400% 400%;
    animation: gradient 5s ease-in-out infinite;
    background-clip: text;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}