.container {
    margin: 30px auto;
    text-align: center;
}

#type {
    font-size: 20px;
    padding: 3px;
    border: none;
    background: #0e0e0e;
    color: white;
    text-decoration: underline grey solid 2px;
    outline: none;
}

.shops-container {
    max-width: 90vw;
    overflow: auto;
    margin: 30px auto;
}

.shops-container > table {
    border-collapse: collapse;
}

.shops-container > th, .shops-container > td {
    border-bottom: 1px solid grey;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    font-size: 15px;
    margin: 0 5px;
}

.map {
    width: 90vw;
    height: 60vh;
}