html, body {
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0e0e0e;
    color: white;
}

.physical {
    margin: 30px auto;
    text-align: center;
}

.iframe {
    width: 80vw;
    height: 50vh;
}